body {
	font-family: Arial, Helvetica, serif;
	background: url('../img/bg.png');
}

.container {
	width: 960px;
	margin: 50px auto;
	background: #fff;
	-webkit-box-shadow: 0px 0px 60px 10px #ffffff;
	-moz-box-shadow: 0px 0px 60px 10px #ffffff;
	box-shadow: 0px 0px 60px 10px #ffffff;
}

button {
	border-radius: 0px !important;
}

header {
	border-bottom: 1px solid #fff;
	margin-bottom: 12px;
	background: #414141;
	-webkit-box-shadow: 0px 5px 15px 5px #d0d0d0;
	-moz-box-shadow: 0px 5px 15px 5px #d0d0d0;
	box-shadow: 0px 5px 15px 5px #d0d0d0;
	border-radius: 5px;
}

.circle {
	width:45px;
	height:45px;
	display: inline;
	border-radius:50%;
	color:#fff;
	text-align:center;
	background:white
}

.form-registration {
	max-width: 330px; padding: 15px; margin: 0 auto;
}

.form-show {
	display: block;
}

.form-hide {
	display: none;
}

.form-registration input {
	margin-bottom: 10px;
	border-radius: 0px !important;
}

textarea {
	border-radius: 0px !important;
}

.form-signin input {
	margin-bottom: 10px;
	border-radius: 0px !important;
}

.form-signin {
	max-width: 330px; padding: 15px; margin: 0 auto;
}

.clearfix {
	margin: 20px 20px;
	padding-left: 10px;
	padding-right: 10px;
	color: #572b80;
	font-size: 11px;
	background: #efefef;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.main-bottom {
	line-height: 50px;
}

.vs-reg-lbl-error {
	font-size: 9px; color: red;
	min-height: 13px;
}

.form-control {
	margin: 0px !important;
}

.errorlist {
	margin: 0px !important;
	padding: 0px !important;
}

.non-field-error-wrapper {
	min-height: 20px;
	color: red;
}

.vs-reg-lbl-error li, .non-field-error-wrapper li {
	padding: 0px !important;
	margin: 0px !important;
	list-style-type: none;
}

.divider-main {
	min-height: 1px; background: lightgrey; width: 100%; margin-top: 30px;
}

.protweet-reg-login-wrapper {
	padding: 5px;
	border-radius: 3px;
	float: right;
	margin-right: 20px;
	font-size: 12px;
}

.main-content-wrapper {
	margin-top: 50px;
}

.follower-base-wrapper {
	padding-top: 0px; margin-left: 250px;
}

.follower-base {
	min-height: 50px;
	padding: 10px;
	max-width: 300px;
/*	margin-left: 70px;*/
/*	margin: 0 auto;*/
	float: left;
	margin-bottom: 0px;
}

.follower-base .well {
	margin-bottom: 0px;
}

.tweet-base-wrapper {
	padding-top: 130px; margin-left: 140px;
}

.textarea-wrapper {
	float: right; margin-right: 200px;
}

.textarea-wrapper .form-control {
	width: 400px;
}

.textarea-wrapper span {
	/*float: right;*/ padding-top: 10px; font-size: 12px;
}


.tweet-base {
	min-height: 50px;
	padding: 10px;
	max-width: 400px;
	margin-left: 70px;
	margin-bottom: 10px;
/*	background-color: maroon;*/
}

.user-tweet-base {
	padding-top: 0px;
}

.user-tweet-base .tweet-base {
	max-width: 550px;
	background-color: #ECECEC;
}

.sidebar-nav {
	padding-left: 0px;
}

#sidebar-wrapper {
		float: left; margin-right: 20px;
}

#sidebar-wrapper li {
	padding: 10px 15px 10px 15px;
	list-style-type: none;
	line-height: 25px;
	font-size: 20px;
	font-weight: 1;
	margin-bottom: 2px;
}

#sidebar-wrapper li:hover {
	background-color: lightgrey;
	cursor: pointer;
	border-radius: 3px;
}

#sidebar-wrapper a {
	text-decoration: none;
	color: grey;
}

#sidebar-wrapper a:hover {
	color: grey ;
}

#counter {
	min-width: 50px;
}

.current-active {
	background-color: lightgrey;
	cursor: pointer;
	border-radius: 3px;
}

.textarea-wrapper button {
	float: right; width: 80px; font-size: 12px; height: 30px; margin-top: 10px;
}

.lbl-thoughts-wrapper{
	min-height: 20px;
}

.lbl-thoughts-hide {
	display: none;
}

.lbl-thoughts-show {
	display: block;
}

.post-timestamp {
	font-size: 10px;
	float: right;
}

.tweet-stats {
	font-size: 12px;
}

.follower-base-wrapper h5 {
	background-color: #6F6F6F;
	line-height: 40px;
	padding-left: 20px;
	color: white;
	font-size: 18px;
}

.follower-base-wrapper h5 span {
	font-size: 12px;
	font-weight: normal;
}

.hero-widget { text-align: center; padding-top: 20px; padding-bottom: 20px; }
.hero-widget .icon { display: block; font-size: 96px; line-height: 96px; margin-bottom: 10px; text-align: center; }
.hero-widget var { display: block; height: 64px; font-size: 64px; line-height: 64px; font-style: normal; }
.hero-widget label { font-size: 17px; }
.hero-widget .options { margin-top: 10px; }