{% include "header_resource.html" %}
<body>
	<div class="container">
		{% include "header.html" %}
		<div class="main">
			<div class="main-content-wrapper">
				<div id="sidebar-wrapper">
					{% include "side_menu.html" %}
				</div>
				<div class="container-right">
					<div class="follower-base-wrapper">

						<h5>My Follower Base.</h5>
						
						{% for user in follower_base %}
						<div class="follower-base">
							<div class="well well-sm">
								<div class="media">
									<div class="media-body">
										<h4 class="media-heading">{{ user.user_info.username }}</h4>
										<p>
											<span class="label label-info">{{ user.user_info.following_count }}</span>
											<span style="font-size: 10px;">Following</span> 
											<span class="label label-info">{{ user.user_info.follower_count }}</span>
											<span style="font-size: 10px;">Follower</span>
											<span class="label label-warning">{{ user.user_info.tweet_count }}</span>
											<span style="font-size: 10px;">Tweet</span>
										</p>
										<p>
											{% if user.do_i_follow %}
											<a href="#" class="btn btn-xs btn-default protweet-unfollow" data-id = "{{ user.user_info.user_id }}" style="float: right;">
												Unfollow
											</a>
											{% else %}
											<a href="#" class="btn btn-xs btn-default protweet-follow" data-id = "{{ user.user_info.user_id }}" style="float: right;">
												Follow
											</a>
											{% endif %}
										</p>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
		<div class="divider-main"></div>
		{% include "footer.html" %}
	</div>
</body>
</html>