{% include "header_resource.html" %}
<body onload="init_following();">
	<div class="container">
		{% include "header.html" %}
		<div class="main">
			<div class="main-content-wrapper">
				<div id="sidebar-wrapper">
					{% include "side_menu.html" %}
				</div>
				<div class="container-right">
					<div class="follower-base-wrapper">
						<h5>My Follow Base.</h5>
						<div data-bind="foreach: ko_following_base">
							<div class="follower-base">
								<div class="well well-sm">
									<div class="media">
										<div class="media-body">
											<h4 class="media-heading" data-bind="text: ko_username"></h4>
											<p>
												<span class="label label-info" data-bind="text: ko_follow_count"></span>
												<span style="font-size: 10px;">Following</span> 
												<span class="label label-info" data-bind="text: ko_follower_count"></span>
												<span style="font-size: 10px;">Follower</span>
												<span class="label label-warning" data-bind="text: ko_tweet_count"></span>
												<span style="font-size: 10px;">Tweet</span>
											</p>
											<p>
												<a href="#" class="btn btn-xs btn-default" data-bind="{click: $parent.ko_unfollow_user.bind($data, $index(), $element), attr: {'data-id': ko_user_id}}" style="float: right;">
													Unfollow
												</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div style="clear: both"></div>
						<h5>Follow More - Share More - <span>You many find these people interesting.</span></h5>

						<div data-bind="foreach: ko_suggestion_base">
							<div class="follower-base">
								<div class="well well-sm">
									<div class="media">
										<div class="media-body">
											<h4 class="media-heading" data-bind="text: ko_username" style="margin-botto: 10px;"></h4>
											<p>
												<span class="label label-info" data-bind="text: ko_follow_count"></span>
												<span style="font-size: 10px;">Following</span> 
												<span class="label label-info" data-bind="text: ko_follower_count"></span>
												<span style="font-size: 10px;">Follower</span>
												<span class="label label-warning" data-bind="text: ko_tweet_count"></span>
												<span style="font-size: 10px;">Tweet</span>
											</p>
											<p>
												<a href="#" class="btn btn-xs btn-default" style="float: right;" data-bind="{click: $parent.ko_follow_user.bind($data, $index(), $element), attr: {'data-id': ko_user_id}}">
													Follow
												</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
		<div class="divider-main"></div>
		{% include "footer.html" %}
	</div>
</body>
</html>