{% include "header_resource.html" %}
</body>
	<div class="container">
		{% include "header.html" %}
		<div class="main">
			<div class="main-content-wrapper">
				<div id="sidebar-wrapper">
					{% include "side_menu.html" %}
				</div>
				
				<div class="container-right">
					<div class="textarea-wrapper">
						<div class="lbl-thoughts-wrapper">
							<div class="vs-reg-lbl-error lbl-thoughts-hide">
								Your thoughts seem to be empty!!
							</div>
						</div>
						<textarea id="tweet-composer" class="form-control" rows="3" placeholder="Write your thoughts down." style="width: 490px;"></textarea>
						<button class="btn btn-primary btn-block">Post</button>
						<span style="padding-left: 10px;">Word Count:</span> 
						<span id="counter"></span>
					</div>
					<div style="clear: both;"></div>
					<div class="tweet-base-wrapper user-tweet-base">
						{% for tweet_info in subscribed_tweets %}
						<div class="tweet-base">
							<span class="post-timestamp">{{ tweet_info.post_timestamp|date:'D d M Y' }}</span>
							<div class="my-tweet-wrapper">
								{{ tweet_info.tweet }}
							</div>
							<span style="font-size: 11px;">@ {{ tweet_info.user_info.username }}</span>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
		<div class="divider-main"></div>
		{% include "footer.html" %}
	</div>
</html>